<div class="example-container mat-elevation-z3">
  <div *ngIf="isLoadingResults" class="example-loading-shade">
    <mat-spinner></mat-spinner>
  </div>

  <table mat-table [dataSource]="data" matSort matSortActive="createdAt" matSortDirection="desc">
    <ng-container matColumnDef="workspaceId">
      <th mat-header-cell *matHeaderCellDef>Workspace ID</th>
      <td mat-cell *matCellDef="let workspace">{{ workspace.workspaceId }}</td>
    </ng-container>

    <ng-container matColumnDef="workspaceName">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let workspace">{{ workspace.workspaceName }}</td>
    </ng-container>

    <ng-container matColumnDef="workspaceUrl">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let workspace">{{ workspace.workspaceUrl }}</td>
    </ng-container>

    <ng-container matColumnDef="cloudProvider">
      <th mat-header-cell *matHeaderCellDef>Cloud Provider</th>
      <td mat-cell *matCellDef="let workspace">{{ workspace.cloudProvider }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let workspace">{{ workspace.createdAt | date: 'short' }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef>Modified</th>
      <td mat-cell *matCellDef="let workspace">{{ workspace.updatedAt | date: 'short' }}</td>
    </ng-container>

    <ng-container matColumnDef="tokenUpdated">
      <th mat-header-cell *matHeaderCellDef>Token Edited date</th>
      <td mat-cell *matCellDef="let workspace">{{ workspace.tokenUpdated | date: 'short' }}</td>
    </ng-container>

    <ng-container matColumnDef="tokenExpiry">
      <th mat-header-cell *matHeaderCellDef>Expiration</th>
      <td mat-cell *matCellDef="let workspace">{{ workspace.tokenExpiry | date: 'short' }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let workspace">
        <button mat-flat-button  mat-button (click)="editWorkspace(workspace)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Table Header and Row -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>


